<!-- how can i help style -->
#contact h2{
	font-size:35px;
	text-align:center;
	color:#5d5757;
	border-style:groove;
	border-color:#f2f2f2;
	padding:5px;
}
<!-- the introduction paragraph -->
.start p {
	font-size:20px;
	text-align:center;
	color:#1a406d;
}
<!-- to style all forms -->
.form{
	font-size:17px;
	color:#1a406d;
	padding-left:15%;
}
<!-- first/last/email input style-->
.form input{
	width:100%;
	margin:20px 0;
	background: #faf0f0;
	border:none;
	border-bottom:3px solid #ca786d;
}
<!-- the textarea design -->
.form textarea{
	width:100%;
	margin:20px 0;
	background: #faf0f0;
	border:none;
	border-bottom:3px solid #ca786d;
	color:#5d5757;
}
<!-- the submit design -->
.submit input {
	padding: 20px 32px;
	font-size:16px;
	background: #ca786d;
	border:none;
	border-radius: 4px;
	color:white;
}
<!-- to set the submit in the center-->
.submit {
	text-align:center;
}