<!-- the welcome -->
.germany h1{
	font-size:30px;
	text-align:center;
	color:#5d5757;
	border-style:groove;
	border-color:#f2f2f2;
	padding:5px;
	padding-top:10px;
}
<!-- the land style -->
.germany h2{
	font-size:23px;
	text-align:center;
	color:#ca786d;;
}
<!-- the introduction paragraph -->
.germany p {
	font-size:17px;
	text-align:left;
	padding-left:10px;
	color:#1a406d;
}
<!-- the un header -->
#un h3{
	font-size:30px;
	text-align:left;
	color:#5d5757;
	border-style:outset;
	border-color:#f2f2f2;
	padding:5px;
	margin-top: 2px;
}
<!-- the un paragraph -->
#un p{
	font-size:17px;
	text-align:left;
	padding-left:10px;
	color:#1a406d;
}
<!-- to set the img in the right side of the page -->
#right>img{
	float:right;
	margin:0.2px;
}
<!-- what to do header  -->
#first h3{
	font-size:30px;
	text-align:left;
	color:#5d5757;
	border-style:outset;
	border-color:#f2f2f2;
	padding:5px;
	margin-top: 2px;
}
<!-- marienplaza --> 
#st dt {
	color:#ca786d;
	font-size:19px;
	padding-left:25px;
}
<!-- marienplaza activety---->
#st dd{
	font-size:17px;
	text-align:left;
	padding-left:10px;
	color:#1a406d;
	padding-left:35px;
}
<!-- to style the figcaption -->
#two figcaption {
	float:right;
	color:#ca786d;
    bottom: 0;
    left: 0;
    right: 0;
}
<!-- to set the img margin -->
#two img{
	margin:1px;
	margin-top:2px;
}
<!-- to style the unordered list -->
#two ul{
	margin-left:5%;
	margin-bottom:10px;
}
