/* the singapore header */
.sin h1{
	font-size:30px;
	text-align:center;
	color:#5d5757;
	border-style:groove;
	border-color:#f2f2f2;
	padding:5px;
	padding-top:10px;
}
/* the asian tiger design */
.sin h2{
	font-size:23px;
	text-align:center;
	color:#ca786d;;
}
/* the introduction paragraph */
.sin p {
	font-size:17px;
	text-align:left;
	padding-left:10px;
	color:#1a406d;
}
/* what to do header */
#todo h3{
	font-size:30px;
	text-align:left;
	color:#5d5757;
	border-style:outset;
	border-color:#f2f2f2;
	padding:5px;
	margin-top: 2px;
}
/* what to do paragraph */
#todo p{
	font-size:17px;
	text-align:left;
	padding-left:10px;
	color:#1a406d;
}
/* to set the img margin */
#singapore img{
	margin:1px;
	margin-top:2px;
}
figcaption {
	float:right;
	color:#ca786d;
    bottom: 0;
    left: 0;
    right: 0;
}
/* a day in the wildlife design */
#zoo dd{
	font-size:17px;
	text-align:left;
	padding-left:10px;
	color:#1a406d;
	padding-left:35px;
}
/* a day in the wildlife term paragraph */
#zoo dt{
	color:#ca786d;
	font-size:19px;
	padding-left:25px;
}
/* the unordered list design */
#zoo ul{
	font-size:17px;
	text-align:left;
	padding-left:10px;
	color:#ca786d;
	padding-left:35px;
}
/* the zoo paragraph */
#zoo p{
	font-size:17px;
	text-align:left;
	padding-left:10px;
	color:#1a406d;
	padding-left:35px;
}
#zoo{
	height:100%;
}
/* gardern by the bay term design */
#bay dt{
	color:#ca786d;
	font-size:19px;
	padding-left:25px;
}
/* gardern by the bay paragraph */
#bay dd{
	font-size:17px;
	text-align:left;
	padding-left:10px;
	color:#1a406d;
	padding-left:35px;
}
#bay {
	height:100%;
}
/* universal term  */
#studios dt{
	color:#ca786d;
	font-size:19px;
	padding-left:25px;
}
/* universal paragraph */
#studios dd{
	font-size:17px;
	text-align:left;
	padding-left:10px;
	color:#1a406d;
	padding-left:35px;
}
#singapore{
	margin-bottom:10px;
}